.bodyclass{
    margin-left: 200px;
    margin-right: 200px;
    
}
.bodyimg{
    width: 300px

}
.card{
    border-radius: 10px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.486);

}
.bodycontent{
    padding: 100px;
}
body{
    background-color: tan;
}