.bodyclass{
    margin-left: 200px;
    margin-right: 200px;
    
}
.bodyimg{
    width: 300px

}
.card{
    border-radius: 10px;
    border-color: black;
    background-color: gainsboro;

}
.bodycontent{
    padding: 100px;
}